@font-face {
  font-family: NotoBold;
  src:url("./NotoSerifCJKkr-Bold.otf");
}
*{margin:0;padding:0;box-sizing: border-box;transition: 0.3s;font-family: NotoBold;user-select: none;}
li{list-style: none;}
a{text-decoration: none;color:#000;}
html, body{width: 100%;height: 100%;}
header{
  height: 50px;width: 100%;
  position: relative;z-index: 1;
  top:0;
}

#time_box{
  float:right;height: 100%;width: 90px;background:#fff;
  font-size:17px;text-align: center;line-height: 45px;
}
main{
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background: url(img/1091.jpg) center no-repeat;
  background-size: contain;overflow: hidden;
}
#table_wrap{display:table;width: 100%;height: 100%;position: absolute;}
#cell_wrap{display:table-cell;vertical-align: middle;text-align: center;}
.box{
  max-width: 530px;margin:0 auto;padding:5px;
  font-size: 0px;
}
.app_box{
  width: 130px;height: 130px;
  padding: 15px 25px;
  display: inline-block;
  background:rgba(255,255,255,0.3);
}
.app_box:hover{background:rgba(0,0,0,0.5);border-radius: 4px;}
.app_box:hover .name{background:0;transition: 0.4s;}
.con{width: 80px;height: 100px;font-size:15px;}
.icon{
  width: 80px;height: 80px;
  border: 1px solid #000;background: white;

}
.name{
  font-size:14px;text-align: center;
}
#github>img{
  position: fixed;
  right: 0;bottom: 0;
  width: 70px;
  height: 70px;
  z-index: 1;
}
#github>img:hover ~ #pyj{bottom:75px;}
#pyj{
  color: black;
  position: fixed;
  right: 0;
  bottom: 40px;
  width: 70px;
  font-size: 30px;
  letter-spacing: 6px;
  line-height: 30px;
  font-weight: bold;
  z-index: 0;
}

.modal_pop{
  position: absolute;
  background:#fff;
  min-width: 250px;
  min-height: 45px;
  width:300px;
  height: 300px;
  z-index: 1;
  left:2vw;
  top:2vh;
  transition: unset;
  box-shadow: 1px 1px 3px #333;
}
.modal_pop>*{float:left;}
.modal_head{
  font-size: 30px;
  border-bottom: 1px solid #000;
  width:calc(100% - 1px);
  padding-left:7px;
}
.modal_close{
    float: right;
    margin: 10px;
    display: inline-block;
    height: 25px;width: 25px;
    line-height: 25px;text-align: center;
    font-size: 24px;
    cursor: pointer;
}
.modal_main{
  width:calc(100% - 1px);
  height: calc(100% - 47px);
}
.lr-resize{
  width: 1px;height: calc(100% - 2px);
  cursor: ew-resize;
  float:right
}
.lr-resize::after{
  content: "";
  display: block;
  width: 4px;
  height: calc(100% - 2px);
  position: absolute;
  right: -2px;
  z-index: auto;
}
.slash-resize{
  width: 2px;height: 2px;
  cursor: nw-resize;
}
.tb-resize{
  width: calc(100% - 2px);height: 2px;
  cursor: ns-resize;
}
.tb-resize::after{
  content: "";
  display: block;
  height: 4px;
  width: calc(100% - 2px);
  position: absolute;
  bottom: -2px;
  z-index: auto;
}
