/* @font-face {
  font-family: NotoBold;
  src:url("../fonts/NotoSerifCJKkr-Bold.otf");
} */
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb { background: #000; }
::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.7); }
*{margin:0;padding:0;box-sizing: border-box;transition: 0.3s;font-family: 'NotoBold', sans-serif;user-select: none;}
li{list-style: none;}
a{text-decoration: none;color:#000;}
header{position: relative;top:0;height: 50px;width: 100%;z-index: 1;}
header > #time_box{float:right;height: 100%;width: 90px;background:#fff;font-size:17px;text-align: center;line-height: 45px;}
main{position: absolute;top:0;right:0;bottom:0;left:0;background: url(../images/bg.png) center no-repeat;background-size: contain;background-color:#fafafa;overflow: hidden;}
#app{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
#app>.box{max-width: 530px;min-width: 265px;margin:0 auto;font-size: 0px;}
#app .app_box{display: inline-block;width: 130px;height: 130px;padding: 15px 25px;background:rgba(255,255,255,0.3);}
#app .app_box:hover{background:rgba(0,0,0,0.5);border-radius: 4px;}
#app .app_box:hover .name{background:0;transition: 0.4s;}
#app .app_box .con{width: 80px;height: 100px;font-size:15px;}
#app .app_box .icon{display: block;width: 80px;height: 80px;background: white;border-radius: 50%;text-align: center;}
#app .app_box .name{display: block;font-size:14px;text-align: center;}
#github_link>img{position: fixed;right: 0;bottom: 0;width: 70px;height: 70px;z-index: 1;}
#github_link>img:hover ~ #pyj{bottom:75px;}
#pyj{position: fixed;right: 0;bottom: 40px;width: 70px;color: black;font-size: 30px;letter-spacing: 6px;line-height: 30px;font-weight: bold;z-index: 0;}
.modal_pop{position: absolute;left:2vw;top:2vh;min-width: 250px;min-height: 45px;width:450px;height: 350px;background:#fff;transition: unset;z-index: 1;box-shadow: 1px 1px 3px #333;}
.modal_pop>*{float:left;}
.modal_head{width:calc(100% - 1px);background: rgba(0,0,0,0.05);padding-left:7px;font-size: 30px;}
.modal_close{float: right;display: inline-block;height: 25px;width: 25px;margin: 10px;line-height: 25px;text-align: center;font-size: 24px;cursor: pointer;}
.modal_main{width:calc(100% - 1px);height: calc(100% - 47px);}
.lr-resize{float:right;width: 1px;height: calc(100% - 2px);cursor: ew-resize;}
.lr-resize::after{content: "";display: block;position: absolute;width: 4px;height: calc(100% - 2px);right: -2px;z-index: auto;}
.slash-resize{width: 4px;height: 2px;cursor: nw-resize;}
.tb-resize{width: calc(100% - 4px);height: 2px;cursor: ns-resize;}
.tb-resize::after{content: "";display: block;position: absolute;height: 4px;width: calc(100% - 4px);bottom: -2px;z-index: auto;}
